@model OnlineBookingApplication.Models.AdminModel.ApiCustomerIndexViewModel
@{
    ViewBag.Title = "Admin";
}
<div class="container">

    <div class="card" style="border-radius:5px">
        <div class="card-body" style="background-color:white;border-radius:4px">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Admin Panel</li>
                    <li class="breadcrumb-item">Booking System</li>
                    <li class="breadcrumb-item">Delete Customer</li>
                </ol>
            </nav>
            <br />
            <form method="post" enctype="multipart/form-data" asp-action="Delete">
                <div class="form-group">
                    <p1 class="font-weight-bold text-danger mb-4 float-left">Are you sure you want to delete this Customer</p1>
                    <p style="border: 1px solid #1d9ce5; background-color: #1d9ce5; float: right; padding: 10px; color: white; font-weight: bold; border-radius: 5px; outline: none; text-align: center ">Delete:@Model.Id</p>
                </div>
                <table class="table-striped table-responsive-md col-md-12">
                    <thead style="color: white;background-color: #04519b">
                        <tr>
                            <th>Full Name</th>
                            <th>Photo</th>
                            <th>NIN</th>
                            <th>State</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.FullName</td>
                            <td><img src="@Url.Content(Model.Photo)" style="width:50px;height:50px;border-radius:100%" /></td>
                            <td>@Model.NIN</td>
                            <td>@Model.State</td>
                            <td>@Model.Email</td>
                            <td>
                                <button type="submit" class="btn btn-success btn-outline-success" style="color:white;outline:none"> Yes</button>
                                <a  class="btn btn-danger btn-outline-danger" style="color:white;outline:none;text-decoration:none" asp-action="Index1" asp-controller="Admin">No</a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </form><br />
        </div>
    </div>
</div>







