@model Pagination<CardPaymentViewModel>
@{
    ViewBag.Title = "Admin";
}
<div class="container">
    <div class="card" style="background-color:white;border-radius:5px;width:100%;padding:30px">
        <div class="card-body" style="width:100%">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Admin Panel</li>
                    <li class="float-right">Email:Admin@gmail.com</li>
                </ol>
            </nav>
            <div class="form-group">
                <p style="float:left;font-weight:bold"> Card Information</p>
                <p style="border: 1px solid #1d9ce5; background-color: #1d9ce5; float: right; padding: 10px; color: white; font-weight: bold; border-radius: 5px; outline: none; text-align: center ">Total : @Model.Count()</p>
            </div>
            <br /><br />
            <hr />
            <br />
            <table class="table-striped table-responsive-md col-md-12">
                <thead style="color: white;background-color: #04519b">
                    <tr>
                        <th>Book Id</th>
                        <th>Card Number</th>
                        <th>Card Name</th>
                        <th>Expire</th>
                        <th>Security Code</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>PMT @item.BookingRecordId</td>
                        <td>@item.CardNumber</td>
                        <td>@item.CardName</td>
                        <td>@item.ExpireDate.ToString("dd/mm")</td>
                        <td>@item.SecurityCode</td>
                        <td style="color:green">Payed</td>
                        <td>
                         
                            <a class="text-danger" style="color:white" asp-action="Delete" asp-controller="AdminPay" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                    }

                </tbody>
            </table>
            <br /><br />
        </div><br /><br />
        <div class="form-group col-m4-4">
            @{
                var DisablePrevious = !Model.IsPreviousPageAvailabe ? "disabled" : "";
                var DisableNext = !Model.IsNextPageAvailabe ? "disabled" : "";
            }<br />
            <br />

            <a asp-action="Index1" asp-route-PageNumber="@(Model.PageIndex - 1)" class="btn btn-primary @DisablePrevious">
                Previous
            </a>
            <a asp-action="Index1" asp-route-PageNumber="@(Model.PageIndex + 1)" class="btn btn-primary @DisableNext">
                Next
            </a>
        </div>

    </div>
</div>


